.accounts__container {
    display: flex;
    justify-content: space-between;
}

.info__container {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.btn {
  display: flex;
  justify-content: space-between;
  width: 25%;
}